KundenverwaltungWs/META-INF/wsdl/KundenService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.kundenverwaltung.de/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="KundenService" targetNamespace="http://webservice.kundenverwaltung.de/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://webservice.kundenverwaltung.de/"
			elementFormDefault="unqualified" targetNamespace="http://webservice.kundenverwaltung.de/"
			version="1.0">
			<xs:element name="save" type="tns:save" />
			<xs:element name="saveResponse" type="tns:saveResponse" />
			<xs:complexType name="save">
				<xs:sequence>
					<xs:element minOccurs="0" name="kunde" type="tns:kundenXSD" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="kundenXSD">
				<xs:sequence>
					<xs:element minOccurs="0" name="email" type="xs:string" />
					<xs:element minOccurs="0" name="nachname" type="xs:string" />
					<xs:element minOccurs="0" name="vorname" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveResponse">
				<xs:sequence />
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="saveResponse">
		<wsdl:part element="tns:saveResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="save">
		<wsdl:part element="tns:save" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="KundenSEI">
		<wsdl:operation name="save">
			<wsdl:input message="tns:save" name="save"></wsdl:input>
			<wsdl:output message="tns:saveResponse" name="saveResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="KundenServiceSoapBinding" type="tns:KundenSEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="save">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="save">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="KundenService">
		<wsdl:port binding="tns:KundenServiceSoapBinding" name="KundenServicePort">
			<soap:address
				location="http://localhost:8080/KundenverwaltungWs/KundenService/KundenService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>