11-WS/wsdl/DomainServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://komplexer.ws.ejb3.seminar.kiltz.de/" name="DomainServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://komplexer.ws.ejb3.seminar.kiltz.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://komplexer.ws.ejb3.seminar.kiltz.de/" schemaLocation="DomainServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="setUndGetDomainObject">
    <part name="parameters" element="tns:setUndGetDomainObject"/>
  </message>
  <message name="setUndGetDomainObjectResponse">
    <part name="parameters" element="tns:setUndGetDomainObjectResponse"/>
  </message>
  <message name="getDomainObject">
    <part name="parameters" element="tns:getDomainObject"/>
  </message>
  <message name="getDomainObjectResponse">
    <part name="parameters" element="tns:getDomainObjectResponse"/>
  </message>
  <message name="setDomainObject">
    <part name="parameters" element="tns:setDomainObject"/>
  </message>
  <message name="setDomainObjectResponse">
    <part name="parameters" element="tns:setDomainObjectResponse"/>
  </message>
  <portType name="DomainService">
    <operation name="setUndGetDomainObject">
      <input wsam:Action="http://komplexer.ws.ejb3.seminar.kiltz.de/DomainService/setUndGetDomainObjectRequest" message="tns:setUndGetDomainObject"/>
      <output wsam:Action="http://komplexer.ws.ejb3.seminar.kiltz.de/DomainService/setUndGetDomainObjectResponse" message="tns:setUndGetDomainObjectResponse"/>
    </operation>
    <operation name="getDomainObject">
      <input wsam:Action="http://komplexer.ws.ejb3.seminar.kiltz.de/DomainService/getDomainObjectRequest" message="tns:getDomainObject"/>
      <output wsam:Action="http://komplexer.ws.ejb3.seminar.kiltz.de/DomainService/getDomainObjectResponse" message="tns:getDomainObjectResponse"/>
    </operation>
    <operation name="setDomainObject">
      <input wsam:Action="http://komplexer.ws.ejb3.seminar.kiltz.de/DomainService/setDomainObjectRequest" message="tns:setDomainObject"/>
      <output wsam:Action="http://komplexer.ws.ejb3.seminar.kiltz.de/DomainService/setDomainObjectResponse" message="tns:setDomainObjectResponse"/>
    </operation>
  </portType>
  <binding name="DomainServiceImplPortBinding" type="tns:DomainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="setUndGetDomainObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDomainObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setDomainObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DomainServiceImplService">
    <port name="DomainServiceImplPort" binding="tns:DomainServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

