11-WS/wsdl/KundenSIB.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://kunde.ws.ejb3.seminar.kiltz.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="KundenClientService" targetNamespace="http://kunde.ws.ejb3.seminar.kiltz.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kunde.ws.ejb3.seminar.kiltz.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://kunde.ws.ejb3.seminar.kiltz.de/">
  <xs:element name="neuerKunde" type="tns:neuerKunde"/>
  <xs:element name="neuerKundeResponse" type="tns:neuerKundeResponse"/>
  <xs:complexType name="neuerKunde">
    <xs:sequence>
      <xs:element minOccurs="0" name="kunde" type="tns:kundeXSD"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="kundeXSD">
    <xs:sequence>
      <xs:element name="kdNr" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="vorname" type="xs:string"/>
      <xs:element name="status" type="tns:status"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="status">
    <xs:restriction base="xs:string">
    	<xs:enumeration value="NEU"/>
    	<xs:enumeration value="TOP"/>
    	<xs:enumeration value="SCHLECHT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="neuerKundeResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="neuerKunde">
    <wsdl:part element="tns:neuerKunde" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="neuerKundeResponse">
    <wsdl:part element="tns:neuerKundeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KundenWebService">
    <wsdl:operation name="neuerKunde">
      <wsdl:input message="tns:neuerKunde" name="neuerKunde">
    </wsdl:input>
      <wsdl:output message="tns:neuerKundeResponse" name="neuerKundeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KundenClientServiceSoapBinding" type="tns:KundenWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="neuerKunde">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="neuerKunde">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="neuerKundeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KundenClientService">
    <wsdl:port binding="tns:KundenClientServiceSoapBinding" name="KundenWebService">
      <soap:address location="http://localhost:8080/EJB3WebService/KundenClientService/KundenSIB"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>